data
data-pre
data-post
data-augmented
.venv
data-eval

train
train_augmented
test
mlruns
run_latest

__pycache__
*.json
*.h5
predict_backend.csv
combined_predict.csv
*.Identifier

frontend/node_modules
node_modules

npm-debug.log
mydb.sqlite

testing111.ipynb
