opencv_python_headless==4.5.1.48
tqdm==4.59.0
tensorflow==2.0.0
Flask==1.1.1
Flask_SocketIO==4.3.1
pandas==0.25.3
matplotlib==3.1.2
numpy==1.13.3
seaborn==0.11.1
albumentations==0.5.2
mlflow==1.14.1
Flask_Cors==3.0.8
Pillow==8.1.2
scikit_learn==0.24.1
