.mg20 {
  margin: 20px;
}

.my20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mr20 {
  margin-right: 20px;
}

.container {
  position: relative;
  width: 600px;
  margin: auto;
}

.preview {
  position: relative;
  max-width: 200px;
}

.btn-upload {
  position: absolute !important;
  right: 10px;
}

.file-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  max-width: 300px;
  vertical-align: middle;
}

.list-group {
  padding: 0;
  margin: 0;
}

.list-header {
  margin-top: 10px !important;
}

.upload-message {
  font-weight: bold;
  color: #63a84e;
}

.upload-message.error {
  color: #da4148;
}

.btn-choose {
  margin-right: 10px !important;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 50px;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.top {
  top: 0;
  background-color: rgb(247, 247, 247);
}

/* Control the right side */
.bottom {
  bottom: 0;
  background-color: rgb(255, 255, 255);
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: relative;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, 10px); */
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}
.close {
  display: none;
}
.open {
  display: block;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.grid-layout {
  width: 1500px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 1500px);
  grid-gap: 10px;
  justify-content: center;
}
.tile {
  position: relative;
  display: inline-block;
  /* border: 5px solid #000; */
  height: 500px;
  /* width: 600px; */
}
